.view_container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: darkgrey;
    z-index: 100;
}

.header_wrapper {
    position: relative;
    width: 80%;
    min-width: 600px;
    margin: auto;
}

.header_title {
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.header_content {
    position: absolute;
    right: 0px;
    top: 5px;
}

.text_title {
    color: #ffffff;
    font-size: 30px;
    text-shadow: #000000 0px 0px 5px;

}

input, select {
    width: 60%;
    height: 40px !important;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid grey;
}

label {
    /*font-size: 20px;*/
    margin-top: 20px;
    width: 180px;
}

body {
    font-size: 15px;
    color: #404142;
    font-family: verdana, sans-serif;
}

textarea {
    width: 60%;
    height: 100px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 16px;;
}

.container_wrap {;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .7);
    border-radius: 20px;
    min-width: 600px;
}

input.has-error, input.ng-invalid-match, input.ng-invalid-minlength, input.ng-invalid-maxlength {
    border: 2px solid #A83D38;
}

.error {
    color: #A83D38;
}

.in_progress {
    background: rgba(173, 255, 48, 0.16);
}

.pending {
    background: rgba(255, 255, 0, 0.19);
}

.completed {
    background: rgba(214, 97, 97, 0.20);
}

.prev_progress, .prev_pending, .prev_completed {
    position: absolute;
    height: 20px;
    left: 5px;
    right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.prev_line {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 25px;
    border: 1px solid grey;
    border-radius: 5px;
}

.prev_progress {
    top: 5px;

}

.prev_progress .prev_line {
    background: #adff30;
}

.prev_pending {
    top: 30px;
}

.prev_pending .prev_line {
    background: #ffff00;
}

.prev_completed {
    top: 55px;
}

.prev_completed .prev_line {
    background: #d66161;
}

.prev_wrapper {
    width: 20px;
    text-align: right;
}

.prev_title {
    position: absolute;
    top: 0px;
    left: 130px;
    background: #eeeeee;
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn_function {
    background: darkgrey;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.ileft {
    position: absolute;
    padding: 6px;
}

.iright {
    position: absolute;
    right: 0px;
    padding: 6px;
    color: #d0dfa8;
}

.glyph {
    color: #575757;
    font-size: 25px;
    float: left;
    cursor: pointer;
}

.item_task {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    cursor: pointer;

}

.item_task:hover {
    background: rgba(141, 148, 108, 0.30);
}
